body{
	letter-spacing: 0.5px;
	margin:0;
	padding:0;
	font-family: "Roboto Flex", sans-serif;
}

.slider-img{
	max-width: 756px;
	width: 100%;
	height: 533px;
	max-height: 100%;
}

.slider-img img{
	width: 756px;
	height: 529px;
}

.contacts{
	text-decoration: none;
	color: white;
}

.contacts{
	color: #00868A;
}

.wrapper{
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
}

nav{
	justify-content: space-between;
	display: flex;
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
}

.nav-element{
	padding-top:5px;
	padding-bottom: 5px;
	width:20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-left: 1px solid lightgray;
	height: 60px;
}

.social-media-header{
	display: flex;
	width: 20%;
}

.social-media-header div{
	padding-top:5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60px;
	width: 100%;
	border-left: 1px solid lightgray;
}

.social-media-header div:last-child{
	border-right: 1px solid lightgray;
}

.button-for-blind{
	cursor: pointer;
	color: white;
	width: 70%;
	display: flex;
	align-items: center;
	border:none;
	padding: 5px 10px;
	background: #00868A;
	height: 40px;
	transition: 0.2s;
}

.button-for-blind:hover{
	background-color: #4fbfa5;
}

.button-for-blind img{
	margin-right: 10px;
}

.select{
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 10px;
	background: #4fbfa5;
	margin-left: 10px;
}

.select-saloon{
	align-items: center;
	display: flex;
}

.hidden{
	display: none!important;
}

.types-of-service{
	background: #4fbfa5;
}

.types-of-service section{
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.types-of-service section a{
	text-decoration: none;
	color: white;
}

.main-slider{
	margin-top:-10px;
	background: #4fbfa5;
}

.ask-for-consult{
	background: white;
	border: none;
	padding: 10px 15px;
	font-family: "Roboto Flex", sans-serif;
	font-size: 1em;
}

.header-slider{
	margin-right: 20px;
	color: white;
	display: flex;
	flex-direction: column;
}

.header-slider h2{
	font-size: 2em;
	margin:10px;
}

.header-slider p{
	width: 80%;
	text-align: justify;
}

.more-button{
	cursor: pointer;
	width: 150px;
	border: none;
	background: #00868A;
	color: white;
	padding: 10px 15px;
	font-family: "Roboto Flex", sans-serif;
	font-size: 1em;
	margin-top: 2em;
	transition: 0.2s;
}

.more-button:hover{
	background-color: white;
	color: black;
}

.slider-buttons{
	justify-content: flex-end;
	margin-top: 1em;
	display: flex;
}

.slider-buttons button{
	cursor: pointer;
	border: 1px solid white;
	background: transparent;
	padding: 10px 15px;
	transition: 0.2s;
}

.slider{
	align-items: center;
	display: flex;
}

.slider-img{
	margin-top: 10px;
	flex-basis: 50%;
}

.sections-about{
	margin-top: -4px;
	display: flex;
}

.big-category{
	flex-basis: 50%;
	background: #00868A;
	padding: 20px 15px;
	text-align: center;
	color: white;
	font-size: 1.2em;
}

.category{
	background: #00868A;
	padding: 20px 15px;
	flex-basis: 25%;
	text-align: center;
	color: white;
	font-size: 1.2em;
}

.active-category{
	background: #4fbfa5!important;
}

.innovations-and-austeticks{
	justify-content: space-between;
	margin-top: 3em;
	display: flex;
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
}

.innovations{
	display: flex;
	flex-direction: column;
	width: 45%;
}

.marker{
	background: #4fbfa5;
	color: white;
	min-width: 100px;
	max-width: 200px;
	padding: 5px 10px;
	text-align: center;
}

.card-header{
	width: 70%;
	padding: 40px 60px;
	background: #00868A;
}

.img-card-innovations{
}

.card-header h3{
	color: white;
	font-size: 2.1em;
}

.paragraph-button{
	display: flex;
	align-items: center;
	color: white;
}

.austeticks{
	width: 51%;
	padding: 40px 0;
}

.achivements{
	display: flex;
	justify-content: space-between;
}

.achive-not-img div{
	align-items: inherit;
	display: flex;
	color: lightgray;
}

.achive-not-img .achive{
	width: 30%;
	margin:40px 0px 0 0px;
}

.achive-not-img .big-num{
	font-size: 4em;
	margin:20px 30px 0 0px;
}


.highlighted-achivement{
	z-index:9;
}

.highlighted-achivement .big-num{
	font-size: 8em;
	color: #00868A;
}

.highlighted-achivement .achive{
	width: 150%;
	align-self: center;
	margin-bottom: 20px;
	color: black;
	font-size: 3em;
}

.achive-img{
	position: absolute;
	top: 860px;
	right: 20px;
	z-index: -3;
}

.news-block{
	margin-top: 6em;
	height: 550px;
	display: flex;
	align-items: flex-start;
	width: 100%;
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
}

.header-news{
	height: 550px;
	flex-basis: 40.8%;
	background-color: #4fbfa5;
	display: flex;
	flex-direction: column;
}

.head-news{
	cursor: pointer;
	padding: 30px;
	background-color: #4fbfa5;
	border:none;
	height: 100%;
	text-align: left;
	color: white;
	font-size: 1em;
}

.active-news{
	background-color: #00868A!important;
}

.opisanie{
	flex-basis: 51.2%;
	height: 530px;
	line-height: 27px;
	padding: 10px 50px;
	background-color: #E5F3F3;
}

.opisanie h3{
	font-size: 1.3em;
}

.opisanie li{
	list-style-type: none;
}

.opisanie li:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #4fbfa5;
	border-radius: 10px;
	position: relative;
	top: 18px;
	right: 20px;
}

.marker-news{
	background-color: #00868A;
	padding:10px;
	width: 70px;
	text-align: center;
	color: white;
	margin-top: 25px;
	margin-left: 30px;
	margin-bottom: 25px;
}

.offer-cards{
	margin-top: 6em;
	width:100%;
	background-color: #E5F3F3;
	height: 300px;
	padding-top: 90px;
}

.offer-cards h2{
	color: #00868A;
	font-size: 3em;
	text-align: center;
	margin-bottom: 70px;
}

.cards{
	width: 100%;
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card{
	width: 23%;
	display: flex;
	flex-direction: column;
}

.card .marker{
	width: 120px;
	position:relative;
	top: 50px;
	left: 20px;
}

.header-button{
	letter-spacing: 1px;
	line-height: 2em;
	background-color: #00868A;
	display: flex;
	align-items: center;
	color: white;
	font-size: 1.1em
	justify-content: space-around;
	padding: 0px 20px;
}

footer{
	margin-top: 300px;
	width: 100%;
	max-width: 1295px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.second-footer{
	height: 90px;
	border-top: 1px solid lightgray;
	display: flex;
}

.second-footer .nav-element{
	height: 90px;
	width: 25%;
}

.second-footer .social-media-header div{
	height:90px;
	width: 100%;
}

.second-footer .social-media-header{
	width: 25%;
}

.second-footer .copyright{
	width: 50%!important;
	padding: 5px 20px;
	height: 90px;
}

.copyright p{
	font-size: 0.9em;
	color: gray;
	flex-basis: 50%;
}

.copyright a{
	font-size: 0.9em;
	color: gray;
	flex-basis: 40%;
}

.copyright a:hover{
	color: #00868A;
}

.first-footer{
	display: flex;
	justify-content: space-between;
}

.first-footer li{
	line-height: 2em;
	padding-left: 0;
	list-style-type: none;
}

.first-footer ul{
	padding-left: 0;
}

.service-li a:hover{
	color: #00868A;
}

.service-li a{
	text-decoration: none;
	color: black;
}

.first-footer-block h4{
	font-size: 1.2em;
}

.first-footer-block{
	margin-bottom: 4em;
}

.first-footer-block h5{
	color: gray;
}

.first-footer-block button{
	cursor: pointer;
	padding: 12px 30px;
	border: none;
	background-color: #00868A;
	color: white; 
	transition: 0.2s;
}

.first-footer-block button:hover{
	background-color: #4fbfa5;
}

.first-footer .first-footer-block:last-child{
	margin-top:10px;
}

.left-btn:hover{
	background-color: #4fbfa5;
}

.next-button-slider:hover, .prev-button-slider:hover{
	background-color: #00868A;
}

.left-btn{
	cursor: pointer;
	border: 1px solid white;
	background: transparent;
	padding: 7px 10px;
	margin-right: 15px;
	transition: 0.2s;
}

.active{
	display: inline!important;
}

.link-slider{
	color: white;
	cursor: pointer;
}

.active-link{
	text-decoration: underline;
	font-weight: bold;
}

.popup__privacy_policy{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-around; 
	background-color: rgba(0,0,0,0.7);
}

.popup__content{
	transform: translate(0%,-150%);
	width: 35%;
	background-color: white;
	padding: 30px;
}

.header__close{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close__button{
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 0;
	border: none;
	background-color: transparent;
	border-radius: 20px;
}

.close__button:hover{
	background-color: lightgray;
}

.close__popup{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:-1;
}